<div class="img-container">
    <div class="login-container">
        <div class="form">
            <img class="img-logo" src="../assets/logo.png" alt="Be fluent">
            <form [formGroup]="form">
                <h1>Logon</h1>
                <input type="text" placeholder="Username" formControlName="username">
                <input type="password" placeholder="Password" formControlName="password">
                <button (click)="logar()" [disabled]="form.invalid" class="btn-red">Login</button>
                <a routerLink="/register">
                    forgot your password ?
                </a>
                <a  routerLink="/cadastro" class="left-side">
                    Sign In
                    <i class="material-icons">arrow_forward</i>
                </a>
            </form>
        </div>
    </div>
</div>