<div class="cadastro-container">
    <div class="panel">
        <section class="form">
            <img src="../assets/passaport3.png" alt="Passaport Be Fluent" width="450">
            <img class="profile" src="../assets/progile-man.png" alt="Passaport Be Fluent" width="112">
            <!-- <img class="profile" src="../assets/profile-girl.png" alt="Passaport Be Fluent" width="112"> -->


            <form>
                    <input class="input-username" placeholder="Username">
                    <input class="input-email" type="email" placeholder="Email">
                    <select class="input-sexo">
                        <option value="">Selecione sexo</option>
                        <option value="">Masculino</option>
                        <option value="">Feminino</option>
                    </select>
                    <input class="input-senha" type="password" placeholder="*********">
                    <button routerLink="/login" class="btn-cadastro btn-red">Registry</button>
                    <div class="btn-back">
                        <i class="material-icons">arrow_back</i>
                        <a routerLink="" class="right-side">
                            Back to login
                        </a>
                    </div>
            </form>
        </section>
        <section class="apresentacao">
            <h2>Welcome!</h2>
            <h2>Are you ready to</h2>
            <img src="../assets/logo-pergunta.png" alt="Be Fluent" width="215">
            <h2>Create your passaport 
                and start now! </h2>
        </section>
    </div>
</div>
