<div class="cadastro-container">
    <div class="panel">
        <section class="form">
            <img src="../assets/passaport.png" alt="Passaport Be Fluent" width="450">
            <img *ngIf="form.value.sexo == 'Masculino'" class="profile" src="../assets/progile-man.png" alt="Passaport Be Fluent" width="112">
            <img *ngIf="form.value.sexo == 'Feminino'" class="profile" src="../assets/profile-girl.png" alt="Passaport Be Fluent" width="112">


            <form [formGroup]="form">
                    <input class="input-username" formControlName="username" placeholder="Username" maxlength="15">
                    <input class="input-email" formControlName="email" type="email" placeholder="Email">
                    <select class="input-sexo" formControlName="sexo" >
                        <option [ngValue]="null">Selecione sexo</option>
                        <option *ngFor="let sexo of sexoList" [ngValue]="sexo.name">
                            {{sexo.name}}
                        </option>
                    </select>
                    <input class="input-senha" formControlName="password" type="password" placeholder="*********">
                    <button (click)="cadastrar()" class="btn-cadastro btn-red"
                        [disabled]="form.invalid" >Registry</button>
                    <div class="btn-back">
                        <i class="material-icons">arrow_back</i>
                        <a routerLink="" class="right-side">
                            Back to login
                        </a>
                    </div>
            </form>
        </section>
        <section class="apresentacao">
            <h2>Welcome!</h2>
            <h2>Are you ready to</h2>
            <img src="../assets/logo-pergunta.png" alt="Be Fluent" width="215">
            <h2>Create your passaport 
                and start now! </h2>
        </section>
    </div>
</div>
